body{
	font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
	overflow-x:hidden
}
p{
	font-size:20px
}
.p-small{
	font-size:18px;
	text-align: justify;
	padding-bottom: 8px;
}
a,a.active,a:active,a:focus,a:hover{
	color:#18BC9C
}
h1,h2,h3,h4,h5,h6{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700
}
hr.star-light,hr.star-primary{
	padding:0;border:none;
	border-top:solid 5px;
	text-align:center;
	max-width:250px;
	margin:25px auto 30px
}
header{
	text-align:center;
	background:url("../img/bgcss.png");
	background-repeat:no-repeat;
	background-position: top center;
	background-size: cover;
	/*background-size: 100%;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:#fff
}
header .container{
	padding-top:300px;
	padding-bottom:50px
}
header .intro-text .name{
	display:block;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
	font-size:1.5em
}
header .intro-text .skills{
	font-size:1.25em;font-weight:300
}
@media (min-width:768px){
	header .container{
		padding-top:400px;
		padding-bottom:100px
	}
	header .intro-text .name{
		font-size:4em
	}
	header .intro-text .skills{
		font-size:1.75em
	}
}
.navbar-custom{
	background:#2C3E50;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;font-weight:600;border:none
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus
/*.navbar-custom .navbar-brand:hover*/
{
	color:#fff

}
.navbar-custom .navbar-brand:hover{
	color: #18BC9C;
}
.navbar-custom .navbar-nav{
	letter-spacing:1px
}
.navbar-custom .navbar-nav li a{
	color:#fff
}
.navbar-custom .navbar-nav li a:hover{
	color:#18BC9C
}

.navbar-custom .navbar-toggle{
	color:#fff;
	text-transform:uppercase;
	font-size:10px;
	border-color:#fff
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover{
	background-color:#18BC9C;
	color:#fff;
	border-color:#18BC9C
}
@media (min-width:768px){
	.navbar-custom{
		padding:8px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s
	}
	.navbar-custom .navbar-brand{
		font-size:2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
}
section{
	padding:30px 30px 20px 30px;
}
section h2{
	margin:0;
	font-size:2.5em
}
footer{
	color:#fff
}
footer h3{
	margin-bottom:20px
}
footer .footer-above{
	padding-top: 20px;
	background-color:#2C3E50
}
footer .footer-col{
	margin-bottom:20px
}
footer .footer-below{
	padding:10px 0;
	background-color:#233140
}
.btn-outline{
	color:#fff;
	font-size:20px;
	border:2px solid #fff;
	background:0 0;
	transition:all .3s ease-in-out;
	margin-top:15px
}
.btn-outline.active,.btn-outline:active,.btn-outline:focus,.btn-outline:hover{
	color:#18BC9C;
	background:#fff;
	border:2px solid #fff
}
.btn-primary{
	color:#fff;
	background-color:#2C3E50;
	border-color:#2C3E50;
	font-weight:700
}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#1a242f;
	border-color:#161f29
}
.btn-primary.active,.btn-primary:active,.open .dropdown-toggle.btn-primary{
	background-image:none
}
.btn-social{
	display:inline-block;
	height:50px;
	width:50px;
	border:2px solid #fff;
	border-radius:100%;
	text-align:center;
	font-size:20px;line-height:45px
}
div#maincontent{
	outline:0
}
